/* Coded by Junho Choi  */
/*  Purpose of this css file : Make a common css frame in our project */

/* div */
div {
    border:1px solid #ccc;
}

/* CJH , 硫붾돱諛� 援ъ꽦 11/23*/
#topMenu{ 
	/*nav濡� 踰꾪듉 link�뱾 臾띔퀬 �엳�쓬*/
    height:3%;
    top:120px;
}
#topMenu ul li {                      
    list-style: none;           
    color: white;               
    background-color: #2d2d2d;  
    float: left;               
    line-height: 30px;          
    vertical-align: middle;     
    text-align: center;  
}
#topMenu .link {                               
    text-decoration:none;                     
    color: white;                              
    display: block;                            
    width: 205px;                             
    font-size: 12px;                           
    font-weight: bold;                        
    font-family: "Trebuchet MS", Dotum, Arial; 
}
#topMenu .link:hover {            
    color: blue;                  
    background-color: #4d4d4d;    
}
/* 援�) navigator瑜� �쐞�븳 �뵒�옄�씤 �슂�냼*/
/* nav{ 
	nav濡� 踰꾪듉 link�뱾 臾띔퀬 �엳�쓬
	
	height:3%;
    margin-bottom:20px;
    padding-top: 15px;
    
    top: 120px; 
    width:1100px; 
    
    border�뿉 愿��븳 遺�遺� �닔�젙 11/23
    border:1px solid #FFDFB0;
    border:double;
    border: 1px solid black; 
    background-color: lightblue; 
	margin-top: 10px;
	display: block;
} */
/* .link { 
	硫붿씤�솕硫댁쓽 踰꾪듉, sell, buy, 履쎌�, mypage�뿉 愿��븳
    float:left;
    width:20%;
    height:70%;
    margin-left:25px;
    margin-right:25px; 
    border:1px solid black;
    background-color: thistle;
    
    border-radius:5px;
    text-align: center;
    text-decoration: none;
    
    display:block;
    line-height: 30px;
    
    CJH, �뵒�옄�씤 �슂�냼 異붽� 11/23
    position: relative;
	z-index: 2;
	
	background-color: #333; 
	
	border-right : 2px solid #333;
	color: #F4FFFF;
	line-height: 30px;
}
.link:hover{
	background-color: #bebebe;
	border-color: #59b1eb;
	color: black;
} */


/* .link::before {
	top: 0;
}
.link::after {
	bottom: 0;
} */


/* ID */
#container {
    width:1100px;
    height: 1600px;
    margin: 0px auto;
    padding: 20px;

}
#headerTop {
    height:7%;
    /* margin-bottom:20px; */
    padding: 20px;
    /*CJH �닔�젙 11/23*/
    border-style : none;
    /* border:double; */
   /*  background-color: lightblue; */
    /* border: 1px solid black; */ 
}
#headerFont {
	/*�쎒�궗�씠�듃 �젣紐� �룿�듃�뿉 愿��젴�맂 css*/
	font-family: 'Nanum Pen Script', cursive; /*CJH : 11/23 added */
	font-weight: bold;
	font-size: 40;
	text-align: center;
}

#left_sidebar{
    height: 70%;
    margin: 0 20px 20px 0;
    padding: 20px;
    width : 16%;
    float:left;

    /* margin:0; */
}
/*CJH_移댄뀒怨좊━ �슂�냼 遺�遺�_11/23 */
#category{
	border:none;
}
#category ul li{
	list-style:none;
	line-height:30px;
	
}
#category .cate_link{
	text-decoration:none;
	color:#333333;
	
}
/*hover �씠踰ㅽ듃 泥섎━*/
#category .cate_link:hover{
	text-decoration: underline; 
	color: red;
}
#contents{
    height: 70%;
    margin-bottom:20px;
    width:53%;
    padding:20px;
    float:left;

}
#right_sidebar{
    height: 70%;
    margin-bottom: 20px;
    width:16%;
    float:right;
    padding:20px;


    /* margin:0; */
}
#footer {
    height:5%;
    clear:both;
    padding:20px;
}