/* Coded by Junho Choi  */
/*  Purpose of this css file : Make a common css frame in our project */

/* div */
div {
    border:1px solid #ccc;
}

/* CJH , topMenu 설정 11/23*/
#topMenu{ 
	/*nav로 버튼 link들 묶음*/
    height:3%;
    top:120px;
}
#topMenu ul li {                      
    list-style: none;           
    color: white;               
    background-color: #2d2d2d;  
    float: left;               
    line-height: 30px;          
    vertical-align: middle;     
    text-align: center;  
}
#topMenu .link {                               
    text-decoration:none;                     
    color: white;                              
    display: block;                            
    width: 205px;                             
    font-size: 12px;                           
    font-weight: bold;                        
    font-family: "Trebuchet MS", Dotum, Arial;
     
}
#topMenu .link:hover {            
    color: blue;                  
    background-color: #4d4d4d;    
}

/* ID */
#container {
    width:1100px;
    height: 1600px;
    margin: 0px auto;
    padding: 20px;

}
#headerTop {
    height:7%;
    /* margin-bottom:20px; */
    padding: 20px;
    /*CJH 11/23*/
    border-style : none;
    /* border:double; */
   /*  background-color: lightblue; */
    /* border: 1px solid black; */ 
}
#headerFont {
	/*웹사이트 제목 폰트에 관련된 css*/
	font-family: 'Nanum Pen Script', cursive; /*CJH : 11/23 added */
	font-weight: bold;
	font-size: 40;
	text-align: center;
}

#left_sidebar{
    height: 70%;
    margin: 0 20px 20px 0;
    padding: 20px;
    width : 16%;
    float:left;

    /* margin:0; */
}
/*CJH_카테고리 css디자인_11/23 */
#category{
	border:none;
}
#category ul li{
	list-style:none;
	line-height:30px;
	
}
#category .cate_link{
	text-decoration:none;
	color:#333333;
	
}
/*hover 카테고리 css 호버 처리*/
#category .cate_link:hover{
	text-decoration: underline; 
	color: red;
}
#contents{
    height: 70%;
    margin-bottom:20px;
    width:74.15%;
    padding:20px;
    float:left;

}
/*폐기 예정 no more _right_sidebar */
#right_sidebar{ 
   /*  height: 70%;
    margin-bottom: 20px;
    width:16%;
    float:right;
    padding:20px; */


    /* margin:0; */
}
/* 대체 로그인 창 11/27 */
header{
	/* height : 0;  */
	/*background-color : #006F84;*/
	/* border:1px solid #253342; */
	position:absoulte; 
	/*  width:80%; */
	/* 	z-index: 9999; */ 
	top:0; left:0;
}
/* #loginbar{
	width:1100px;
	margin:0 auto;
	border:1px solid #253342;
} */
.login_menu{
	/*ul 클래스 이름*/
	float:right;
	margin:0;
}
.login_menu li{
	float:left;
	/* border:1px solid #ccc; */
	list-style:none;
}
.login_menu a{
	/*로긴메뉴의 a태그와 관련된 부분*/
	line-height:30px;
	color:black;
	padding : 0 10px;
	display:block;
	text-decoration : none;
}
.login_menu a:hover{
	text-decoration: underline; 
	color: red;
}
#footer {
    height:5%;
    clear:both;
    padding:20px;
}